html
  head
    title= 'HTTP 500: Internal Error'
    include ./style.pug
    meta(name='__custom_builtin_500')
  body
    h1 HTTP 500: Internal Error
    h3 There was an internal error serving the web application.
