html
  head
    meta(name='__builtin_404')
    title= 'HTTP 404: Not Found'
    include ./style.pug
  body
    h1 HTTP 404: Not Found     
    h3 The requested resource could not be found.
    h4 URL
    code= ' ' + url
    if mode === 'development'
      h4 Headers (development mode)
      pre= headers